TOPGERENTE_HOST=127.0.0.1
TOPGERENTE_PORT=3306
TOPGERENTE_DATABASE=topgerente
TOPGERENTE_USER=3e_readonly
TOPGERENTE_PASSWORD=trocar
CONNECTOR_SHARED_TOKEN=trocar
RAILWAY_CALLBACK_URL=https://app.exemplo.com/api/integracao/callback
CONNECTOR_CALLBACK_TOKEN=trocar
PORT=8787
